.owl-theme .owl-nav{
position:absolute;
top:50%;
right:0;
left:0}
.owl-prev, .owl-next{
position:absolute}
.owl-prev{
left:0px}
.owl-next{
right:0px}
.owl-theme .owl-nav [class*=owl-]:hover{
background:none !important;
}
[data-title="testimonial-img"] img{
width:120px !important}
